@import "tailwindcss";

:root {
  --primary: #008cff;
  --secondary: #00d4ff;
  --dark: #020b1f;
}

@keyframes floatRobot {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: floatRobot 4s ease-in-out infinite;
}

.ai-card {
  background: rgba(0,20,60,.5);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0,180,255,.4);
  box-shadow:
    0 0 20px #007bff,
    0 0 60px rgba(0,123,255,.3);
}

/* Landing page dots */

@keyframes dotsMove {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50px);
  }
}

.moving-dots {
  animation: dotsMove 8s linear infinite alternate;
}